[Unit]
Description=Test service to demonstrate notify
After=network.target

[Service]
ExecStart=/usr/bin/php /opt/systemd-notify/test/test-service.php


Type=notify

# Restart service for everything except user-initiated stop
Restart=always

# Wait 15 seconds before restarting the service
RestartSec=15

# Expect a watchdog/heartbeat this often (in seconds)
WatchdogSec=45

[Install]
WantedBy=multi-user.target